.Main-Cadatro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    background-image: url("../assets/terra_das_aguas.jpg");
    background-size: cover;
    background-position: center;
}

.Container-cadastro{
    background-color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: column;
}

.Container-inputs{
    display: flex;
    justify-content: center;
    
}

.Inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    
}

.Inputs input{
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.Layout-botao{
    display: flex;
    justify-content: center;
}

.imagem-prato{
    display: flex;
    justify-content: center;
}

.imagem-prato img{
    border-radius: 8px;
}

.Layout-botao{
    margin-top: 10px;
    height: 2em;
}

.Button-cadastro{
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s; 
}

.Button-cadastro:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}