.Main-Cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    background-image: url("../terra_das_aguas.jpg");
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: left;
    background-color: #343434;
}

.Container-cadastro{
    background-color: #ffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 650px;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: column;
    /* background-color: #bbbbbb; */
}

.Container-cadastro h1{
    text-align: center;
}

.Botao-voltar{
 width: 200px;
 height:30px ;
}

.Container-inputs{
    display: flex;
    justify-content: center;
    /* background-color: #bbbbbb; */
}

.Inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    
}

.Inputs input{
    width: 100%;
    height: 30px;
    margin-bottom: 5%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #272727;
    /* background-color: #eeeded; */
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.Inputs input:focus {
    outline: none;
    border: 1px solid #428eff;
}

.Inputs label{
    font-size: 17px;
    font-weight: bold;
    color: #747474;

}

.Layout-botao{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 2em;
}


.imagem-prato{
    display: flex;
    justify-content: center;
}

.imagem-prato img{
    border-radius: 8px;
}

.button-voltar{
    margin-left: 10px;
}

.button-voltar button{
    background-color: #f3f7fe;    
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    margin-left: 10px;
    background-image: url("../voltar.png");
    background-size: contain;
}

.Button-cadastro{
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: 0.3s; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 16px;
}

.Button-cadastro:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}