.main-home {
    background-color: rgb(236, 236, 236);
    padding: 20px;
    min-height: 100vh;
}

.main-home h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.banner {
    background-image: url('../terra_das_aguas.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #343434;
    width: 100%;
    height: 400px;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.novo-prato {
    display: flex;
    justify-content: center;
}


.botao-novo-prato {
    width: 15%;
    min-height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 19px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #494949;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.botao-novo-prato:hover {
    background-color: #b5faa3;
    color: #003014;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    /* gap: 50px; */
    justify-content: center;
    /* justify-content: space-evenly; */
}