.main-home {
    background-color: rgb(236, 236, 236);
    padding: 20px;
    min-height: 100vh;
}

.main-home h1{
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.banner img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}


.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

