.main-home {
    background-color: rgb(236, 236, 236);
    padding: 20px;
    min-height: 100vh;
}

.main-home h1{
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.banner img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}


.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-prato{
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc((100% - 40px) / 3); /* 3 cards per row, 2 gaps of 20px */
    max-width: 500px;
    padding: 16px;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-prato:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-prato img{
    max-width: 100%;
    border-radius: 8px;
}

.card-prato p {
    color: #333;
}
/*Redimensiona o card para dispositivos moveis*/
@media (max-width: 768px) {
    .card-prato {
        width: 100%;
    }
}